body {
  margin: 0;
}

#us-map {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

path {
  cursor: pointer;
}

/* this is a temp placeholder will move it to d3 script later on */
#IA {
  fill: #FFE0BD;
}

#MN, #MO {
  fill: #FFFFFF;
}

#MN {
  fill: #FF1212cc;
}

#AR {
  fill: #111111;
}

#LA {
  fill: #8888FF;
}

#TN {
  fill: #999999;
}

#KY {
  fill: #e6972b;
}

#state-info {
  position: absolute;
  padding: 10px 25px;
  min-height: 30px;
  width: 12vw;
  right: 10px;
  bottom: 5px;
  background-color: #fafafa;
  border: 2px solid #888;
  border-radius: 5px;
  font-size: 1.56vw;
}

circle:hover, path:hover {
  fill: #33ACFF;
}

.steam-icon {
  fill: transparent !important;
}